/*=========================================== 
General
===========================================*/

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    color: #333;
    margin: 0;
}

.m-0 {
    margin: 0;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-f-20 {
    padding: 20px;
}

.p-f-30 {
    padding: 20px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.btn:focus,
button:focus {
    outline: none !important;
    border: 0;
}

.bg-img {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.theme-color {
    color: #FF3660;
}

.title-btm {
    width: 35px;
    height: 4px;
    background-color: #FF3660;
    margin-bottom: 20px;
}

.p-f-30 {
    padding: 30px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.cmn-btn {
    display: inline-block;
    background-color: #FB469C;
    color: #fff;
    padding: 10px 20px;
    transition: all .3s ease-in;
    box-shadow: 0 14px 26px -12px rgba(241, 100, 100, 0.41), 0 4px 23px 0 rgba(241, 100, 100, 0.12), 0 8px 10px -5px rgba(241, 100, 100, 0.21);
}

.cmn-btn:hover,
.cmn-btn:focus {
    background-color: #FB469C;
    color: #fff;
    opacity: .8;
}



/*=========================================== 
Typography 
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 4em;
    margin-bottom: .5em;
    line-height: 1.3em;
    color: #000;
}

h2 {
    font-size: 3.5em;
    margin-bottom: .5em;
    line-height: 1.2em;
    color: #111;
}

h3 {
    font-size: 3em;
    margin-bottom: .5em;
    line-height: 1.1em;
    color: #222;
}

h4 {
    font-size: 2.5em;
    margin-bottom: .5em;
    line-height: 1.3em;
    color: #333;
}

h5 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1.3em;
    color: #444;
}

h6 {
    font-size: 1.5em;
    margin-bottom: .5em;
    line-height: .8em;
    color: #555;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: .5em;
}




/*=========================================== 
Header CSS
===========================================*/

.navbar-default {
    background-color: #eee;
    border-color: #e7e7e7;
    border: 0;
    border-radius: 0;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}




/*=========================================== 
Home Page CSS
===========================================*/

.sidebar-head {
    padding: 18px 20px;
    display: block;
    border-bottom: 1px solid #e5e9ec;
    transition: all .3s ease-in;
    background-color: #f4f4f4;
}

.sidebar-head:hover {
    background-color: #FB469C;
}

.prof-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.prof-name {
    color: #444;
    font-size: 1.2em;
}

.sidebar-head:hover .prof-name {
    color: #fff;
}

.view-prof {
    font-size: .8em;
    color: #FB469C;
}

.sidebar-head:hover .view-prof {
    color: #fff;
}

.sidebar {
    /*box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, .15);*/
    border-right: 1px solid #e5e9ec;
    overflow-y: auto;
    overflow-x: hidden;
}

.body-height {
    overflow-y: auto;
    overflow-x: hidden;
}

.body-height::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.body-height::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.body-height::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.sidebar-menu-item {
    padding: 15px;
    display: block;
    color: #444;
    background-color: #fff;
    transition: all .3s ease-in;
    margin-bottom: 15px;
}

.sidebar-menu-item.active,
.sidebar-menu-item:hover,
.sidebar-menu-item:focus {
    background-color: #FB469C;
    box-shadow: 0 14px 26px -12px rgba(241, 100, 100, 0.41), 0 4px 23px 0 rgba(241, 100, 100, 0.12), 0 8px 10px -5px rgba(241, 100, 100, 0.21);
}

.sidebar-menu-item.active .sidebar-menu-icon,
.sidebar-menu-item:hover .sidebar-menu-icon,
.sidebar-menu-item:focus .sidebar-menu-icon {
    color: #fff;
}

.sidebar-menu-item.active .sidebar-menu-txt,
.sidebar-menu-item:hover .sidebar-menu-txt,
.sidebar-menu-item:focus .sidebar-menu-txt {
    color: #fff;
}

.sidebar-menu-icon {
    margin-right: 10px;
    font-size: 2em;
    line-height: 0;
    color: #FB469C;
}

.sidebar-menu-txt {
    font-size: 1.1em;
    display: inline-block;
    line-height: 1.9em;
}

/*=========================================== 
Home Page CSS
===========================================*/

.center-box {
    box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, .15);
    background-color: #fff8fa;
}

.center-box-head-block {
    display: block;
    padding: 15px;
    text-align: center;
    color: #333;
    font-size: 1.1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
    border-right: 1px solid #e5e9ec;
    border-bottom: 4px solid transparent;
    background-color: #fff;
}

.center-box-head-block.active {
    border-bottom: 4px solid #FB469C;
}

.center-box-content {
    padding: 30px 0;
}

.match-block-img {
    margin: 0 auto;
    margin-bottom: 0 !important;
}

.match-img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    margin: 0px auto 20px;
    background-position: top center;
    box-shadow: 0 14px 26px -12px rgba(0, 0, 0, 0.41), 0 4px 23px 0 rgba(241, 100, 100, 0.12), 0 8px 10px -5px rgba(241, 100, 100, 0.2);
}

.dis-img-nav-box {
    margin: 5px;
}

.display-img-nav-block .slick-track {
    margin: 0;
}

.slick-slide:focus {
    outline: 0;
}

.match-details h6 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: .7em;
}

.slick-dots {
    top: 0px;
    bottom: auto;
}

.slick-dots li {
    width: 55px;
    height: 2px;
    transition: all .4s ease-in;
}

.slick-dots li button {
    width: 55px;
    height: 2px;
}

.slick-dots li button:before {
    width: 55px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
}


#matches-section {
    max-width: 400px;
    min-height: 380px;
    margin: auto !important;
    display: block;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buddy {
    display: none;
    background: #fff;
    border-radius: 10px;
    color: #fff;
    width: 340px;
    height: 380px;
    top: 0px;
    left: 50px;
    position: absolute;
    cursor: hand;
    overflow: hidden;    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}

.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

.avatar {
    background: #222;
    width: 100%;
    height: 380px;
    display: block;
    margin-top: 0;
    margin-left: 0;
}

.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}

.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}

.ui-loader h1 {
    display: none !important;
}

.match-btn {
    display: inline-block;
    padding: 12px 10px;
    box-shadow: 0px 0px 8px 0px rgba(0,0,0,.2);
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 21px;
    background-color: #fff;
}

.big-match-btn {
    transform: scale(1.2);
    margin-right: 14px;
}

.big-match-btn i {
    font-size: 28px;
}

.match-btn i{
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    background: linear-gradient(#fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close-btn i{
    background: -webkit-linear-gradient(#22c1c3, #fdbb2d);
    background: linear-gradient(#22c1c3, #fdbb2d);
    -webkit-background-clip: text;
}

.super-like i{
    background: -webkit-linear-gradient(#bc4e9c, #f80759);
    background: linear-gradient(#bc4e9c, #f80759);
    -webkit-background-clip: text;
}

.refresh i {
    background: -webkit-linear-gradient(#7F00FF, #E100FF);
    background: linear-gradient(#7F00FF, #E100FF);
    -webkit-background-clip: text;
}

/*=========================================== 
Right Sidebar CSS
===========================================*/

.p-f-15 {
    padding: 15px;
}

.right-sec {
    padding: 20px;
    /*-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);*/
    border-bottom: 1px solid #e5e9ec;
}

.right-sidebar-head {
    padding: 15px 15px 0px;
}

.about-tit {
    font-size: 1.3em;
    font-weight: 600;
    color: #666;
    margin-bottom: .7em;
}

.about-txt {
    font-size: .9em;
    color: #656565;
}

.m-t-15 {
    margin-top: 15px;
}

.tags {
    font-size: .7em;
    color: #fff;
    background-color: #FB469C;
    padding: 5px 7px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
    border-radius: 3px;
    margin-right: 7px;
    margin-bottom: 10px;
    display: inline-block;
}



/*=========================================== 
Match CSS
===========================================*/

.match-list-img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, .5);
    margin-right: 10px;
}

.match-list {
    box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);
    margin: 20px;
    margin-top: 0;
}

.match-list-block {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

.chat-btn {
    margin-right: 10px;
}

.chat-btn:last-child {
    margin-right: 0px;
}

.match-list-block-profile {
    display: block;
}

.match-list-txt {
    color: #656565;
    font-size: .8em;
}

.match-list-tit {
    font-size: 1.2em;
}



/*=========================================== 
Chat Page CSS
===========================================*/

.chat-head {
    padding: 20px;
    border-bottom: 1px solid #e5e9ec;
}

.chat-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);
    margin-right: 12px;
}

.chat-txt {
    padding: 15px;
    /*box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);*/
    /*max-width: calc(100% - 40%);*/
    display: inline-block;
    font-size: 13px;
    color: #454545;
    -webkit-filter: drop-shadow(0 2px 3px rgba(203,214,219,.6));
    filter: drop-shadow(0 2px 3px rgba(203,214,219,.6));
}

.chat-left-txt {
    border-radius: 0px 20px 20px 20px;
    background: #f5f5f5;
}

.chat-right-txt {
    border-radius: 20px 0px 20px 20px;
    background: #fff;
}

.chat-det {
    max-width: calc(100% - 40%);
}

.chat-time {
    color: #999;
    font-size: 10px;
}

.chat-det-box {
    margin-bottom: 15px;
}

.msg-snd {
    border: 0;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 0px;
    height: 47px;
}

#send {
    border: 0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .3);
    font-size: 24px;
}


/*=========================================== 
Discovery Settings Page CSS
===========================================*/

#distanceSlider .slider-selection {
    background: #FB469C;
}

.slider.slider-horizontal {
    width: 100%;
}

.slider.slider-horizontal .slider-track {
    height: 3px;
}

.slider-handle {
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: none;
    background: #fff;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.slider-selection {
    background-image: none;
    background-color: #FB469C;
}

.tooltip.top .tooltip-arrow {
    opacity: 0;
}

.tooltip-inner {
    padding: 6px 8px;
    color: #333;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.slider .tooltip.top {
    top: -20px;
    margin-left: 4px;
}

.discovery-block {
    margin-bottom: 30px;
}

.dis-tit {
    font-size: 1.2em;
    color: #656565;
    margin-bottom: 1.4em;
}

.form-control {
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.2);
    border: 0;
    height: 47px;
    border-radius: 0;
    border-left: 4px solid #FB469C;
    transition: all .3s ease-in;
}

.form-control:focus,
.form-control:hover {
    border-color: #e01b1b;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.2);
}

.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #ffc4c4;
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,.2);
}

.onoffswitch-checkbox:checked + .onoffswitch-label, 
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    border-color: #fff;
}

.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    background-color: #FB469C;
}
