.countdown{font-family: arial; text-transform: uppercase;}
.countdown > div{display: inline-block;}
.countdown > div > span{display: block; text-align: center;}
.countdown-container{margin:0 3px;}
.countdown-container .countdown-heading{font-size: 14px; margin: 5px; color: #000}
.countdown-container .countdown-value{font-size: 50px; background: #FF3660; padding:10px; color:#fff; text-shadow: 2px 2px 2px rgba(0,0,0,0.4)}
