/*=========================================== 
General
===========================================*/

@font-face {
    font-family: Open Sans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 14px;
    overflow-x: hidden;
    color: #333;
    margin: 0;
}

.m-0 {
    margin: 0 !important;
}

.m-t-0 {
    margin-top: 0;
}

.m-b-0 {
    margin-bottom: 0;
}

.m-r-0 {
    margin-right: 0;
}

.m-l-0 {
    margin-left: 0;
}

.p-0 {
    padding: 0 !important;
}

.p-t-0 {
    padding-top: 0;
}

.p-b-0 {
    padding-bottom: 0;
}

.p-l-0 {
    padding-left: 0;
}

.p-r-0 {
    padding-right: 0;
}

.p-f-20 {
    padding: 20px;
}

.p-f-30 {
    padding: 20px;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
}

.btn:focus,
button:focus {
    outline: none !important;
    border: 0;
}

select.form-control{
    padding: 5px;
}

.cmn-content.privacy-content h3 {
    font-size: 25px;
}

.bg-img {
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
}

.theme-color {
    color: #FB469C;
}

.title-btm {
    width: 35px;
    height: 4px;
    background-color: #FB469C;
    margin-bottom: 20px;
}

.p-f-30 {
    padding: 30px;
}

.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.cmn-btn {
    display: inline-block;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
    padding: 10px 20px;
    transition: all .3s ease-in;
    border: 0;
    box-shadow: 0 14px 26px -12px rgba(241, 100, 100, 0.41), 0 4px 23px 0 rgba(241, 100, 100, 0.12), 0 8px 10px -5px rgba(241, 100, 100, 0.21);
    margin-top:15px;
}

.cmn-btn:hover,
.cmn-btn:focus {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
    opacity: .8;
}

.cmn-btn:focus {
    opacity: 1 !important;
}


/*=========================================== 
Typography 
===========================================*/

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
}

h1 {
    font-size: 4em;
    margin-bottom: .5em;
    line-height: 1.3em;
    color: #000;
}

h2 {
    font-size: 3.5em;
    margin-bottom: .5em;
    line-height: 1.5em;
    color: #111;
}

h3 {
    font-size: 3em;
    margin-bottom: .5em;
    line-height: 1.1em;
    color: #222;
}

h4 {
    font-size: 2.5em;
    margin-bottom: .5em;
    line-height: 1.5em;
    color: #333;
}

h5 {
    font-size: 2em;
    margin-bottom: .5em;
    line-height: 1.5em;
    color: #444;
}

h6 {
    font-size: 1.5em;
    margin-bottom: .5em;
    line-height: 1.5em;
    color: #555;
}

p {
    font-size: 1em;
    line-height: 1.7em;
    margin-bottom: .5em;
}




/*=========================================== 
Home Page CSS
===========================================*/
.loader {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255,255,255,.5);
    z-index: 1111;
    text-align: center;
}

.loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100px;
}

.navbar-collapse {
    padding: 0;
}

.logo {
    padding: 5px 20px;
    display: block;
    color: #333;
    font-size: 29px;
    background: transparent;
    line-height: 0px;
}

.logo img {
    /*height: 50px;*/
    /*width: 30%;*/
}

.sidebar-head {
    padding: 18px 20px;
   display: block;
    border-bottom: 1px solid #e5e9ec;
    transition: all .3s ease-in;
    background-color: #FB469C;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.sidebar-head:hover {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.prof-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.prof-name {
    color: #fff;
    font-size: 1.2em;
}

.sidebar-head:hover .prof-name {
    color: #fff;
}

.view-prof {
    font-size: .8em;
    color: #f5f5f5;
}

.sidebar-head:hover .view-prof {
    color: #fff;
}

.sidebar {
    /*box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, .15);*/
    border-right: 1px solid #e5e9ec;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

.toggle-sec {
    position: absolute;
    top: 20px;
    right: 20px;
}

.navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-toggle {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.body-height {
    overflow-y: auto;
    overflow-x: hidden;
}

.body-height::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.body-height::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.body-height::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.sidebar-menu-item {
    padding: 14px 15px;
    display: block;
    color: #444;
    transition: all .3s ease-in;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border: 0px;
    border-left: 5px solid transparent;
    box-shadow: none;
    width: 100%;
    background: -moz-linear-gradient(to bottom right,#fff, #fff);
    background: -webkit-gradient(to bottom right,#fff, #fff);
    background: -webkit-linear-gradient(to bottom right,#fff, #fff);
    background: -o-linear-gradient(to bottom right,#fff, #fff);
    background: -ms-linear-gradient(to bottom right,#fff, #fff);
    background: linear-gradient(to bottom right,#fff, #fff);
    margin: 1px 0px;
    color: #000;
    border: none;
    transition: 0.5s linear all;
    border-bottom: 1px solid rgba(247, 69, 115, 0.14);
}

.sidebar-menu-item.active, .sidebar-menu-item:hover, .sidebar-menu-item:focus {
    border-left-color: #FB469C;
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 hsla(0, 0%, 51%, .22);
    box-shadow: 0 0 15px 0 hsla(0, 0%, 51%, .22);
    color:#fff;
    /* background: #f00; */
    background: -moz-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -webkit-gradient(to bottom right,#FB469C, #FB469C);
    background: -webkit-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -o-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -ms-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: linear-gradient(to bottom right,#FB469C, #FB469C);
    box-shadow: none;
}

.sidebar-menu-item.active .sidebar-menu-icon,
.sidebar-menu-item:hover .sidebar-menu-icon,
.sidebar-menu-item:focus .sidebar-menu-icon {
    /*color: #;*/
}

.sidebar-menu-item.active .sidebar-menu-txt,
.sidebar-menu-item:hover .sidebar-menu-txt,
.sidebar-menu-item:focus .sidebar-menu-txt {
    /*color: #333;*/
}
/*.submenu a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-left: 10px solid #fff;
    border-bottom: 5px solid transparent;
    right: 10px;
    top: 45%;
        transition: 0.2s linear all;
}*/
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs.find-match li {
    display: inline-block;
    width: 49.5%;
    margin: 0px 0.25%;
}

.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li.active a {
    color: #FB469C !important;
    border-bottom: 3px solid;
}
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li .sidebar-menu-icon i
{

}
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li a {
    background: rgba(215, 216, 218, 0.14);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
    border-bottom: 3px solid transparent;
}
.submenu a {
    position: relative;
}
.menu-drop a:after {
    display: none;
}
.submenu.has-submenu a:after {
    transform:rotate(90deg);
    -moz-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
    -o-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
}
.sidebar-menu-icon {
    margin-right: 10px;
    font-size: 2em;
    line-height: 0;
    color: #FB469C;
}

/*.sidebar-menu-icon i {
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    background: linear-gradient(#FB469C, rgba(247, 69, 115, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}*/
.sidebar-menu-icon i {
    /* background: -webkit-linear-gradient(#fc4a1a, #f7b733); */
        color: #FB469C;
    
}
.sidebar-menu-item.active .sidebar-menu-icon i
{
    color: #fff !important;
}
.sidebar-menu-item:hover .sidebar-menu-icon i
{
    color: #fff !important;
}
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li a i {
    color: #f84872 !important;
}
.sidebar-menu-item:focus .sidebar-menu-icon i {
    color: #fff !important;
}
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li {
    
    border-bottom: 1px solid rgba(0,0,0,0.1);
}
.center-box.body-height ul.center-box-head.row.m-0.nav.nav-tabs li:first-child {
    border-right: 1px solid rgba(0,0,0,0.1);
    
}

.sidebar-menu-txt {
    font-size: 1.1em;
    display: inline-block;
    line-height: 1.9em;
}

.menu-drop {
    background-color: #e0e0e0;
    display: none;
    opacity: 0;
}

.has-submenu .menu-drop {
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;
    display: block;
    opacity: 1;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/*=========================================== 
Home Page CSS
===========================================*/

.center-box {
    /*box-shadow: 3px 5px 5px 1px rgba(0, 0, 0, .15);*/
    border-right: 1px solid #e5e9ec;
    background-color: #fff8fa;
}

.center-box-head {
    margin-bottom: 20px !important;
}

.center-box-head.m-0-head {
    margin-bottom: 0px !important;
}

.center-box-head-block {
    display: block;
    padding: 15px;
    text-align: center;
    color: #333;
    font-size: 1.1em;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08);
    border: 0;
    border-right: 1px solid #e5e9ec;
    border-bottom: 4px solid transparent;
    background-color: #fff;
    transition: all .3s ease-in;
}

.nav-tabs {
    border: 0;
}

.nav-tabs>li {
    margin: 0;
}

.nav-tabs>li>a {
    padding: 15px;
    border: 0;
    border-bottom: 2px solid transparent;
    border-radius: 0;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: 0;
    border-bottom: 3px solid #FB469C;
}

.nav-tabs>li>a:focus,
.nav-tabs>li>a:hover {
    border: 0;
    border-bottom: 3px solid #FB469C;
    background-color: #fff;
}
ul.center-box-head.row.m-0.nav.nav-tabs li a:hover span.sidebar-menu-txt {
    color: #FB469C;
}
.center-box-head-block.active,
.center-box-head-block:hover,
.center-box-head-block:focus {
    border-bottom: 4px solid #FB469C;
    color: #333;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 62%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.center-box-content {
    /*padding: 30px 0;*/
}

.match-foot {
    margin-top: 30px;
}

.dis-img-nav-box {
    margin: 5px;
}

.display-img-nav-block .slick-track {
    margin: 0;
}

.match-list-details {
    padding-left: 60px;
}

.match-slide-outer {
    position: relative;
}

.slick-slide:focus {
    outline: 0;
}

.match-details h6 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: .7em;
}

.match-slide.right-match-slide {
    margin-bottom: 0px !important;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'Material-Design-Iconic-Font';
    font-size: 30px;
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    padding: 0px 10px;
    border-radius: 100%;
}

.slick-prev::before {
    content: '\f2fa';
}

.slick-next::before {
    content: '\f2fb';
}

.slick-prev {
    left: 0px;
    z-index: 10;
    top: auto;
    bottom: 5px;
    width: auto;
    height: auto;
    padding: 0px 20px;
}

.slick-next {
    right: 0px;
    top: auto;
    bottom: 5px;
    width: auto;
    height: auto;
    padding: 0px 20px;
    z-index: 10;
}

.slick-dots {
    top: auto;
    bottom: 30px;
}

.slick-dots li {
    width: auto;
    height: auto;
    transition: all .4s ease-in;
}

.slick-dots li button {
    width: auto;
    height: auto;
    margin-right: 10px;
}

.slick-dots li button:before {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #ffffff;
    content: "";
    opacity: .7;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .3);
}

.slick-dots li.slick-active button:before {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    opacity: 1;
}

#matches-section {
    max-width: 400px;
    min-height: 380px;
    margin: auto !important;
    display: block;
    position: relative;
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.buddy {
    display: none;
    background: #fff;
    border-radius: 5px;
    color: #fff;
    width: 325px;
    /*height: 380px;*/
    top: 0px;
    left: 50px;
    position: absolute;
    cursor: hand;
    overflow: hidden;
    box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);
}

.match-img-sec {
    position: relative;
}

.match-name {
    position: absolute;
    bottom: 5px;
    left: 15px;
    right: 15px;
}

.match-name h6 {
    color: #fff;
}

.match-name p {
    /*margin-bottom: 0px;*/
}

.match-slide {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px !important;
}

.rotate-left {
    transform: rotate(30deg) scale(0.8);
    transition: 1s;
    margin-left: 400px;
    cursor: e-resize;
    opacity: 0;
    z-index: 10;
}

.rotate-right {
    transform: rotate(-30deg) scale(0.8);
    transition: 1s;
    opacity: 0;
    margin-left: -400px;
    cursor: w-resize;
    z-index: 10;
}

.avatar {
    background: #222;
    width: 100%;
    height: 360px;
    display: block;
    margin-top: 0;
    margin-left: 0;
}

.like {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid green;
    color: green;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    right: 40px;
    text-shadow: none;
}

.dislike {
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid red;
    color: red;
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 50px;
    left: 40px;
    text-shadow: none;
}

.ui-loader h1 {
    display: none !important;
}

.match-btn {
    display: inline-block;
    padding: 12px 10px;
    box-shadow: none;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 30px;
    font-size: 21px;
    background-color: transparent;
    transition: all .2s ease-in;
}

.match-btn:hover,
.match-btn:focus {
    transform: scale(1.2);
}

.big-match-btn:hover,
.big-match-btn:focus {
    transform: scale(1.2);
}

.big-match-btn {
    /*transform: scale(1.2);*/
    margin-right: 14px;
}

.big-match-btn i {
    font-size: 28px;
}

.match-btn i {
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    background: linear-gradient(#fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.small-match-btn i {
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    background: linear-gradient(#fc4a1a, #f7b733);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close-btn i {
    background: -webkit-linear-gradient(#22c1c3, #fdbb2d);
    background: linear-gradient(#22c1c3, #fdbb2d);
    -webkit-background-clip: text;
}

.super-like i {
    background: -webkit-linear-gradient(#bc4e9c, #f80759);
    background: linear-gradient(#bc4e9c, #f80759);
    -webkit-background-clip: text;
}

.refresh i {
    background: -webkit-linear-gradient(#7F00FF, #E100FF);
    background: linear-gradient(#7F00FF, #E100FF);
    -webkit-background-clip: text;
}

.small-match-btn {
    display: inline-block;
    padding: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    background-color: #fff;
    transition: all .2s ease-in;
}

.small-match-btn:hover,
.small-match-btn:focus {
    transform: scale(1.1);
}

input[type="checkbox"]:checked:before {
    content: "\2713";
    position: absolute;
    font-size: 0.85em;
    left: 1px;
    text-align: center;
    width: 1.25em;
    color: #FB469C;
    font-weight: bold;
}

input[type="radio"]:checked:before {
    content: "\2713";
    position: absolute;
    font-size: 0.85em;
    left: 1px;
    text-align: center;
    width: 1.25em;
    color: #FB469C;
    font-weight: bold;
}

input[type="radio"],
input[type="checkbox"] {
    position: relative;
    -webkit-appearance: none;
    height: 1.25em;
    width: 1.25em;
    margin-bottom: -0.25em;
    margin-right: 5px;
    vertical-align: baseline;
    border: 1px solid #aaa;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fff;
    color: #484848;
}

input[type=file]:focus,
input[type=checkbox]:focus,
input[type=radio]:focus {
    outline: 0;
}

.two-btn {
    margin-right: 10px;
}

.white-btn {
    background-color: #d8d8d8;
    box-shadow: 0 14px 26px -12px rgba(195, 195, 195, 0.41), 0 4px 23px 0 rgba(241, 100, 100, 0.12), 0 8px 10px -5px rgba(187, 187, 187, 0.21);
    display: inline-block;
    padding: 9px 20px;
    border: 1px solid #e5e5e5;
    transition: all .2s ease-in;
}

.white-btn:hover {
    opacity: .9;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.recom-icon {
    font-size: 38px;
    vertical-align: middle;
    background: -webkit-linear-gradient(#fc4a1a, #f7b733);
    background: linear-gradient(#FB469C, rgba(247, 69, 115, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-right: 10px;
}

.recom-img {
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

.recom-block {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}

.report-block {
    display: block;
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
}

.recom-tit {
    padding: 15px 15px 0px;
}

.recom-block:last-child {
    border-bottom: 0px;
}

.recom-details{
    margin-left: 60px;
}

.recom-details h6 {
    font-size: 1.2em;
    line-height: 1em;
}

.recom-details p {
    color: #767676;
    font-size: .9em;
}

.recom-btn {
    background: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    border: 0px;
    border-radius: 100%;
    color: #fff;
    padding: 8px 11px;
    font-size: 17px;
    height: 40px;
    width: 40px;
    opacity: 0;
    transition: all .2s ease-in;
}

.recom-block.active .recom-btn {
    opacity: 1;
}

.report-block.active .recom-btn {
    opacity: 1;
}

.modal-content {
    border-radius: 0px;
}

.load {
    margin: 0px auto;
    width: 100px;
    height: 100px;
    /** height is required as absolute value **/
    background-color: #FB469C;
    border-radius: 100px;
    position: relative;
    animation: pulse 2000ms linear infinite;
    -webkit-animation: pulse 2000ms linear infinite;
    -moz-animation: pulse 2000ms linear infinite;
}

.load i {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    text-shadow: -1px -1px #333;
    transform: translate(-50%, -50%);
}

.load:after,
.load:before {
    display: inline-block;
    margin: auto;
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #f7496f;
}

.load:after {
    z-index: -100;
    -webkit-animation: outer-ripple 2000ms linear infinite;
    -moz-animation: outer-ripple 2000ms linear infinite;
    animation: outer-ripple 2000ms linear infinite;
}

.load:before {
    z-index: -200;
    -webkit-animation: inner-ripple 2000ms linear infinite;
    -moz-animation: inner-ripple 2000ms linear infinite;
    animation: inner-ripple 2000ms linear infinite;
}

.refresh-bg {
    padding: 150px 0;
}



/* outer ripple */

@keyframes pulse {
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1.1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

@-moz-keyframes pulse {
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1.1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    10% {
        transform: scale(1.1);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    20% {
        transform: scale(0.9);
        filter: alpha(opacity=1);
        opacity: 1;
    }
    100% {
        transform: scale(0.8);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
}


@keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-moz-keyframes outer-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    80% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
    100% {
        transform: scale(3.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}



/* inner ripple */

@keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-webkit-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}

@-moz-keyframes inner-ripple {
    0% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        filter: alpha(opacity=50);
        opacity: 0.5;
    }
    100% {
        transform: scale(2.5);
        filter: alpha(opacity=0);
        opacity: 0;
    }
}



/*=========================================== 
Right Sidebar CSS
===========================================*/

.p-f-15 {
    padding: 15px;
}

.p-15 {
    padding: 15px 0px;
}

.p-30 {
    padding: 30px 0px;
}

.right-sidebar {
    position: relative;
}

.banner {
    padding: 80px 20px;
}

.banner-img {
    width: 100%;
    margin-bottom: 30px;
    width: 150px;
}
.log-logo img {
    width: 150px;
}
.m-t-15 {
    margin-top: 15px;
}

.right-sec {
    padding: 20px;
    /*-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, .17);*/
    border-bottom: 1px solid #e5e9ec;
}

.right-sec:last-child {
    border-bottom: 0;
}

.right-sidebar-content {
    overflow-y: auto;
    overflow-x: hidden;
}

.right-sidebar-content::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.right-sidebar-content::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.right-sidebar-content::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.right-sidebar-head {
    padding: 15px 15px 0px;
}

.about-prof-img {
    height: 320px;
    background-position: center top !important;
}

.about-tit {
    font-size: 1.3em;
    font-weight: 600;
    color: #666;
    margin-bottom: .7em;
}

.about-txt {
    font-size: .9em;
    color: #656565;
}

.m-t-15 {
    margin-top: 15px;
}

.tags {
    font-size: .7em;
    color: #fff;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    padding: 5px 7px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(255, 152, 0, .4);
    border-radius: 3px;
    margin-right: 7px;
    margin-bottom: 10px;
    display: inline-block;
}

.right-foot {
    position: absolute;
    bottom: 0;
    right: -7px;
    left: 0;
    box-shadow: 0 0 15px 0 hsla(0, 0%, 51%, .22);
}

.right-foot-item {
    display: inline-block;
    padding: 15px;
    border-right: 1px solid #ddd;
    width: 49%;
    float: left;
    text-align: center;
    background: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
    font-size: 16px;
    transition: all .2s ease-in;
}

.right-foot-item:hover,
.right-foot-item:focus {
    background: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
    opacity: .8;
}

/*=========================================== 
Match CSS
===========================================*/

.match-list-img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    box-shadow: 0px 0px 9px -1px rgba(0, 0, 0, .5);
    margin-right: 10px;
}

.match-list {
    box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);
    margin: 20px;
    margin-top: 0;
}

.match-list-block {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    display: block;
    background-color: #fff;
}

.chat-btn {
    margin-right: 10px;
}

.chat-btn:last-child {
    margin-right: 0px;
}

.match-list-txt {
    color: #656565;
    font-size: .8em;
}

.match-list-tit {
    font-size: 1.2em;
}

.back-block {
    margin-bottom: 10px;
    display: none;
}

.back-block a {
    display: inline-block;
    color: #FB469C;
}

/*=========================================== 
Chat Page CSS
===========================================*/

.chat-head {
    padding: 20px;
    border-bottom: 1px solid #e5e9ec;
}

.chat-block {
    overflow-y: auto;
    overflow-x: hidden;
}

.chat-block::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #F5F5F5;
}

.chat-block::-webkit-scrollbar {
    width: 7px;
    background-color: #F5F5F5;
}

.chat-block::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.chat-img {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);
    margin-right: 12px;
}

.chat-txt {
    padding: 15px;
    /*box-shadow: 0 2px 10px 0 rgba(146, 154, 160, 0.77);*/
    /*max-width: calc(100% - 40%);*/
    display: inline-block;
    font-size: 13px;
    color: #454545;
    -webkit-filter: drop-shadow(0 2px 3px rgba(203, 214, 219, .6));
    filter: drop-shadow(0 2px 3px rgba(203, 214, 219, .6));
}

.chat-left-txt {
    border-radius: 0px 20px 20px 20px;
    background: #f5f5f5;
}

.chat-left-txt.txt-only{
    background: #FB469C;
    color: #fff;
}

.chat-right-txt {
    border-radius: 20px 0px 20px 20px;
    background: #fff;
}

.chat-view-txt {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

.chat-det {
    max-width: calc(100% - 40%);
}

.chat-time {
    color: #999;
    font-size: 10px;
}

.chat-det-box {
    margin-bottom: 15px;
}

.msg-snd {
    border: 0;
    box-shadow: 0px -1px 8px 0px rgba(0, 0, 0, .2);
    border-radius: 0px;
    height: 47px;
}

#send {
    border: 0;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, .3);
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

.chat-sub-btn {
    width: 100%;
    /*padding: 10px 10px 10px 16px;*/
    border: 0;
}

.chat-send {    
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.attach {
    background: #bbb;
    background-image: none !important;
    cursor: pointer;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.upload-btn {
    background-color: transparent;
    border: 0;
    /*padding: 8px 20px;*/
    color: #333;
    cursor: pointer;
}

.upload-btn-wrapper input[type=file] {
    /*font-size: 100px;*/
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.chat-download-icon {
    display: inline-block;
    padding: 4px 8px;
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    line-height: 0;
    color: #fff;
    margin-left: 5px;
    cursor: pointer;
}

.file-icon {
    font-size: 60px;
}

.send-img {
    height: 150px;
    width: 150px;
    display: block;
}


/*=========================================== 
Discovery Settings Page CSS
===========================================*/

.who-btn {
    margin: 0;
    margin-right: 10px;
}

.dis-btn {
    margin-right: 10px;
}

#distanceSlider .slider-selection {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.slider.slider-horizontal {
    width: 100%;
}

.slider.slider-horizontal .slider-track {
    height: 3px;
}

.slider-handle {
    top: -10px;
    width: 30px;
    height: 30px;
    background-image: none;
    background: #fff;
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, .05), 0 2px 2px 0 rgba(0, 0, 0, .1);
}

.slider-selection {
    background-image: none;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.tooltip.top .tooltip-arrow {
    opacity: 0;
}

.tooltip-inner {
    padding: 6px 8px;
    color: #333;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, .2);
}

.slider .tooltip.top {
    /*top: -20px;*/
    bottom: -40px;
    margin-left: 4px;
}

.discovery-block {
    margin-bottom: 30px;
}

.dis-tit {
    font-size: 1.2em;
    color: #656565;
    margin-bottom: 1.4em;
}

.settings-tit {
    font-size: 1.2em;
    color: #656565;
    margin-bottom: .5em;
}

.form-control {
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);
    border: 0;
    height: 47px;
    border-radius: 0;
    border-left: 4px solid #FB469C;
    transition: all .3s ease-in;
}

.form-control:focus,
.form-control:hover {
    border-color: #e01b1b;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);
}

.onoffswitch-checkbox:checked+.onoffswitch-label {
    background-color: #ffc4c4;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .2);
}

.onoffswitch-checkbox:checked+.onoffswitch-label,
.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    border-color: #fff;
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.onoffswitch-checkbox:checked+.onoffswitch-label:before {
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-color: transparent;
}


/*=========================================== 
Login Page CSS
===========================================*/

.login {
    padding: 100px 0px;
}

.login-inner {
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, 0.79);
}

.login-left {
    min-height: 450px;
    margin-top: -30px;
    position: relative;
    box-shadow: 0px 0px 12px rgba(255, 0, 128, 1);
}

.log-overlay {
    background: -webkit-linear-gradient(rgba(255, 0, 128, 0.92), rgba(247, 183, 51, 0.85));
    background: linear-gradient(rgba(255, 0, 128, 0.92), rgba(247, 183, 51, 0.85));
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.login-left-col {
    padding-left: 30px;
}

.log-left-content {
    position: relative;
    padding: 120px 0;
}

.log-left-tit {
    color: #fff;
}

.log-left-link {
    display: block;
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #f9f9f9;
    opacity: .7;
    transition: all .3s ease-in;
}

.log-left-link.active {
    opacity: 1;
    font-size: 2em;
    background: -webkit-linear-gradient(#780206, #061161);
    background: linear-gradient(#780206, #061161);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.log-left-link:hover,
.log-left-link:focus {
    background: -webkit-linear-gradient(#8bea35, #1CB5E0);
    background: linear-gradient(#8bea35, #1CB5E0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.login-right {
    padding: 20px 0px;
}

.login-right label {
    font-weight: 700;
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}
label {
    color: #222;
    font-weight: normal;
}

.sub-btn {
    width: 100%;
    padding: 15px 20px;
}

.forgot-link {
    color: #656565;
    display: inline-block;
    margin-top: 10px;
    padding-bottom: 15px;
    padding-left:20px;
}

.forget-link {
    color: #f7f7f7;
    display: block;
    margin-top: 30px;
}

.log-txt {
    color: #656565;
    margin-top: 30px;
}

.line {
    font-size: 13px;
    color: #fff;
}

.line::before,
.line::after {
    display: inline-block;
    content: "";
    border-top: 2px solid #fff;
    width: 7rem;
    margin: 0 1rem;
    vertical-align: middle;
}

.social-icon {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    padding: 15px;
    transition: all .3s ease-in;
}

.social-icon:hover,
.social-icon:focus {
    color: #061161;
}

.datepicker table tr td.today,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today:hover {
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.datepicker table tr td.active.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active:hover:active {
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.datepicker table tr td.day.focused,
.datepicker table tr td.day:hover {
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.datepicker table tr td.new,
.datepicker table tr td.old {
    transition: all .3s ease-in;
}

.datepicker table tr td span.active.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active:hover:active {
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}



/*=========================================== 
Transaction History Page CSS
===========================================*/

.history-tab {
    padding: 20px 0;
}

.history-tab .table {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.13);
    background-color: #fff;
}

.table-img {
    height: 30px;
    width: 30px;
    display: block;
}

.details-right {
    padding-left: 40px;
}

.det-tit {
    line-height: 1em;
    font-weight: 600;
    margin-bottom: .3em;
}

.det-txt {
    font-size: .8em;
    color: #999;
    line-height: 1.4em;
}

.tran-icon {
    margin-right: 5px;
}

.sent-icon {
    color: #FB469C;
}

.receive-icon {
    color: green;
}

.invite-img {
    height: 300px;
    background-size: contain !important;
}
.invite-sec .invite-img.bg-img {
    height: 220px;
}
.input-group-addon {
    border: 0;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
    border-radius: 0;
}

.invite-label {
    font-weight: 600;
    font-size: 20px;
    margin-top: 30px;
}

.invite-sec .input-group-addon {
    cursor: pointer;
}

.pre-tit {
    line-height: 1em;
    color: #454545;
}

.pre-txt {
    color: #666;
    font-size: 13px;
    line-height: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.premium-slider .slick-dots {
    bottom: -40px;
}

.option-box input[type=radio],
.option-box input[type=checkbox] {
    display: none;
}

.option-box label {
    width: 100%;
}

.option-box-inner {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .15);
    padding: 35px;
    transition: all .3s ease-in;
}

.option-box input:checked+label .option-box-inner {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.option-box input:checked+label .option-box-inner .option-tit {
    color: #fff;
}

.option-box input:checked+label .option-box-inner .option-txt {
    color: #fff;
}

.option-box input:checked+label .option-box-inner .discount-tag {
    background: #fff;
    color: #FB469C;
}

.option-tit {
    font-size: 3em;
    color: #333;
    line-height: 28px;
    margin-bottom: 15px;
}

.discount-tag {
    border-radius: 20px;
    background-color: #f4f4f4;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    padding: 5px 10px;
    color: #fff;
    font-size: 11px;
}

.premium-option {
    margin-top: 75px;
}

.premium-btm {
    margin-top: 30px;
}



/*=========================================== 
Settings Page CSS
===========================================*/

.p-f-20 {
    padding: 20px;
}

.settings {
    margin-top: 20px;
}

.settings-left {
    box-shadow: 0 2px 10px 0 hsla(206, 7%, 60%, .77);
}

.settings-item {
    padding: 20px 15px;
    display: block;
    color: #444;
    transition: all .3s ease-in;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    border-left: 5px solid transparent;
    font-size: 15px;
}

.settings-item.active,
.settings-item:hover,
.settings-item:focus {

    border-left-color: #FB469C;
    background: #fff;
    -webkit-box-shadow: 0 0 15px 0 hsla(0, 0%, 51%, .22);
    box-shadow: 0 0 15px 0 hsla(0, 0%, 51%, .22);
    color: #333;
}



/*=========================================== 
Profile CSS
===========================================*/

#image-preview {
    max-width: 300px;
    height: 300px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    margin: 0 auto;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .3);
}

#image-preview input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#image-preview label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    background-color: #bdc3c7;
    width: 200px;
    height: 50px;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

#image-preview-small,#image-preview-small1,#image-preview-small2,#image-preview-small3 {
    max-width: 100%;
    height: 100px;
    position: relative;
    overflow: hidden;
    background-color: #ffffff;
    color: #ecf0f1;
    margin: 0 auto;
    box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, .3);
}

#image-preview-small input,#image-preview-small1 input,#image-preview-small2 input,#image-preview-small3 input {
    line-height: 200px;
    font-size: 200px;
    position: absolute;
    opacity: 0;
    z-index: 10;
}

#image-preview-small label,#image-preview-small1 label,#image-preview-small2 label,#image-preview-small3 label {
    position: absolute;
    z-index: 5;
    opacity: 0.8;
    cursor: pointer;
    width: auto;
    height: auto;
    font-size: 13px;
    line-height: 26px;
    text-transform: uppercase;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
    padding: 0px 10px;
    border-radius: 100%;
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.main-prof-img {
    height: 300px;
    width: 300px;
    margin: 0 auto;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
}

 .edit-img {
    height: 100px;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.3);
 }

.sub-img-sec {
    margin-top: 30px !important;
    max-width: 660px;
    margin: 0 auto;
    text-align: center;
}

.m-t-20 {
    margin-top: 20px;
}

.prof-sec {
    border-bottom: 1px solid #e5e9ec;
    padding-bottom: 30px;
    margin-bottom: 30px;
}

.prof-tit {
    margin-bottom: 20px;
}

.dropify-wrapper {
    height: 150px;
}

.prof-sec:last-child {
    border-bottom: 0;
    margin: 0;
}

.add-money {
    /*padding: 0px 20px;*/
}

.share-money {
    /*padding: 20px;*/
}

.money-tab {
    padding: 30px;
}

.add-money-top img {
    height: 130px;
    margin-bottom: 30px;
}

.tab-head-top {
    margin: 0 !important;
}

.add-money-top {
    margin-bottom: 30px;
}

.tag-money .tags {
    cursor: pointer;
}

.tag-money .tags:hover,
.tag-money .tags:focus {
    opacity: .7;
}

.pay-content {
    padding-bottom: 30px;
}

.copy-block {
    margin: 15px 0;
}

.copy-block p {
    color: #777;
    font-size: .8em;
}

.sidebar-content-foot {
    border-top: 1px solid #e5e9ec;
    margin-bottom: 20px;
    padding-top: 20px;
}

.sidebar-content-foot .tags {
    margin-bottom: 0px;
}

.map-pop-img {
    width: 50px;
    height: 50px;
    margin: 0 auto;
}

.map-content .match-foot {
    margin-top: 10px;
}

.map-content h6 {
    font-size: 1em;
}

.map-content {
    text-align: center;
}



/*=========================================== 
Card Page CSS
===========================================*/

.card-sec-inner {
    margin-bottom: 20px;
}

.card-block {
    padding: 15px;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .15);
    position: relative;
    transition: all .4s ease-in;
    cursor: pointer;
    background-color: #fff;
}

.card-block-outer label {
    width: 100%;
}

.card-block-outer .sel-icon1 {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #fff;
    border-radius: 100%;
    padding: 5px 8px;
    font-size: 15px;
    opacity: 1;
    transition: all .3s ease-in;
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
}

.card-block-outer input[type=radio] {
    display: none;
}

.card-block-outer input:checked+label .sel-icon1 {
    opacity: 1;
}

.card-type {
    color: #FB469C;
    margin-bottom: 15px;
    line-height: 1em;
}

.card-txt {
    font-size: .8em;
    line-height: 1.2em;
    color: #999;
}

.card-txt:last-child {
    margin-bottom: 0px;
}



/*=========================================== 
Notify Block CSS
===========================================*/

.notify-block {
    position: relative;
    text-align: center;
}

.notify-content {
    /*padding: 100px 0;*/
}

.notify-content img {
    height: 300px;
    margin: 0 auto 30px;
}

.para {
    color: #555;
    font-size: .9em;
    margin-bottom: 20px;
}

.theme-link {
    color: #FB469C;
}

.theme-link:hover {
    color: #FB469C;
    opacity: .8;
}

.contact-box {
    margin-bottom: 30px;
}

.contact-sub-tit {
    text-transform: uppercase;
}

.interest-block input[type=checkbox] {
    display: none;
}

.interest-txt {
    font-size: .8em;
    color: #373737;
    background-color: #fff;
    padding: 7px 10px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(227, 227, 227, 0.4);
    border-radius: 3px;
    margin-right: 7px;
    margin-bottom: 10px;
    display: inline-block;
}

.interest-block input:checked+label .interest-txt {
    background-image: -moz-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -webkit-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    background-image: -ms-linear-gradient( 0deg, #FB469C 0%, #FB469C 100%);
    color: #fff;
}

.interest-block {
    display: inline-block;
    margin-right: 10px;
}
/*-----------------------28/01/2019--------------------------*/
.not-find-match {
    /* background: #f00; */
    text-align: center;
    color: #fff;
    font-size: 20px;
    width: 51%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px #0000007a;
    background: -moz-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -webkit-gradient(to bottom right,#FB469C, #FB469C);
    background: -webkit-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -o-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: -ms-linear-gradient(to bottom right,#FB469C, #FB469C);
    background: linear-gradient(to bottom right,#FB469C, #FB469C);
    position: relative;
    padding-top: 180px;
        margin-top: 80px;
        padding-bottom: 40px;
}
.has-submenu .menu-drop a {
    background: #a8a9ad;
    color: #fff !important;
}
.has-submenu .menu-drop a span.sidebar-menu-txt {
    color: #fff;
}
.not-find-match:before {
    content: "";
    position: absolute;
    width: 150px;
    height: 150px;
   background: url(../img/gift-card.png);
    top: 20px;
    left: 31%;
    background-size: 100%;
}
.sidebar-menu-item:hover .sidebar-menu-icon {
    transform: rotateY(179deg);
    perspective-origin: center center;
    transition: 0.5s linear all;
    transform-style: preserve-3d;
    perspective: 100px;
}
.sidebar-menu-icon {
    margin-right: 10px;
    font-size: 2em;
    line-height: 0;
    color: #FB469C;
    /* transition: 0.5s linear all; */
    transform-style: preserve-3d;
    perspective: 100px;
}
/*=========================================== 
Responsive CSS
===========================================*/

@media screen and (max-width: 991px) {
    .sidebar {
        height: auto !important;
        border-bottom: 1px solid #e5e9ec;
    }

    .body-height {
        height: auto !important;
    }

    .center-box {
        border-bottom: 1px solid #e5e9ec;
        margin-bottom: 30px;
    }

    .right-sidebar-content {
        height: auto !important;
    }

    .center-box-content.tab-content .tab-pane {
        padding-bottom: 0px !important;
    }

    .right-foot {
        position: relative;
    }

    .hidden-md {
        display: none;
    }

    .chat-center-box {
        margin-bottom: 0;
    }

    .navbar-collapse.collapse {
        display: none !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navbar-toggle {
        display: block;
        margin: 0px;
    }

    .match-list-block-right {
        text-align: left;
        margin-top: 20px;
        padding-left: 0px;
    }

    .banner-img {
        width: auto;
        height: 200px;
    }
}

@media screen and (max-width: 767px) {
    .back-block {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    .buddy {
        width: 100%;
        left: 0;
    }
}

 .login-right-col {
                box-shadow: 0 0 10px #e6e0e0;
                border-radius: 11px;
                background: #FB469C;
                margin-top: 5%;
                padding-bottom: 25px;
            }
            .login-right {
                padding: 30px;
            }
            .form-control {
                border-radius: 6px;
                border-left: 0;
                padding: 25px; 
            }
            .form-group {
                margin: 25px 30px;
            }
            .cmn-btn  {
                background: #fff;
                color: #FB469C;
                font-weight: 600;
                font-size: 16px;
                border-radius: 10px;
                padding: 10px 20px;
            }
            .cmn-btn:hover, .cmn-btn:focus {
                background: #FB469C;
                color: #fff;
                font-weight: 600;
                font-size: 16px;
                border-radius: 10px;
                border: 1px solid #fff;
            }
            .dark-btn{
                 background: #fff;
                color: #FB469C;
                font-weight: 600;
                font-size: 16px;
                border-radius: 10px;
                    padding: 15px 20px;
            }
            .forgot-link {
                color: #fffdfd; 
                padding-left:20px;
            }
            .login-right h5{
                color: #fff;
                font-weight: 600;
                padding-bottom: 20px;
            }
.login-logo{
    text-align: center;
    padding: 25px;
}
.sidebar-content .logo img {
    width: 30px;
    background: transparent;
}

.cmn-content.terms-content h3 {
    font-size: 22px;
}

