.navbar-search .btn,.header-nav > li > a.btn{background-color: transparent;color: #000;}
.navbar-search input{margin: 0px;border: 0px!important;width: 200px;}
#content{padding-top: 40px;}
.page{margin-top: 50px;}
.brand-logo img {
    max-height: 40px;
    margin-left: 10px;
    margin-top: 5px;
}

input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="time"], input[type="date"], input[type="datetime-local"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea{
    font-size:1.3em;
}